
.ipynb_checkpoints/DiskQueries-checkpoint.ipynb
.DS_Store
.ipynb_checkpoints/Reconstruction-checkpoint.ipynb
.ipynb_checkpoints/ProxyComposites-checkpoint.ipynb
.ipynb_checkpoints/ProxyComposites-checkpoint.ipynb
